#header {
    background-color: white;
}

.logo {
    width: 2em;
    height: auto;
    float: left;
}

.brand {
    line-height: 2em;
}

.blog-content h2 {
  clear: both;
}

figure { 
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;  
  display: block; 
  position: relative; 
  overflow: hidden;
}

figcaption { 
  position: absolute; 
  background: gold;
  color: black;
  padding: 0.5em; 
  opacity: 0;
  bottom: 1em;
  box-shadow: -2px 2px 10px #444;
  -webkit-box-shadow: 2px -2px 10px #444;
  -moz-box-shadow: 2px -2px 10px #444;
  -o-box-shadow: 2px -2px 10px #444;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
}

.left figcaption {
    left: -30%;
}

.right figcaption {
    right: -30%;
}

.left:hover figcaption {
  opacity: 1;
  left: 0;
}

.right:hover figcaption {
  opacity: 1;
  right: 0;
}

@media screen and (max-width: 40.063em) {
    .blog-content p {
        float: none;
        clear: both;
    }
    .blog-content .left, .blog-content .right {
        float: none !important;
    }
    .blog-content figure figcaption {
        display: none;
    }
    
}