#header {
    background-color: white;
}

.logo {
    width: 2em;
    height: auto;
    float: left;
}

.brand {
    line-height: 2em;
}

.blog-content h2 {
  clear: both;
}

figure { 
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;  
  display: block; 
  position: relative; 
  overflow: hidden;
}

figcaption { 
  position: absolute; 
  background: gold;
  color: black;
  padding: 0.5em; 
  opacity: 0;
  bottom: 1em;
  box-shadow: -2px 2px 10px #444;
  -webkit-box-shadow: 2px -2px 10px #444;
  -moz-box-shadow: 2px -2px 10px #444;
  -o-box-shadow: 2px -2px 10px #444;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
}

.left figcaption {
    left: -30%;
}

.right figcaption {
    right: -30%;
}

.left:hover figcaption {
  opacity: 1;
  left: 0;
}

.right:hover figcaption {
  opacity: 1;
  right: 0;
}

@media screen and (max-width: 40.063em) {
    .blog-content p {
        float: none;
        clear: both;
    }
    .blog-content .left, .blog-content .right {
        float: none !important;
    }
    .blog-content figure figcaption {
        display: none;
    }
    
}

/* Contact form */

.contact-form  h4 {
    color: #668944;
    margin-left: 20px;
  }
.contact-form label {
    width: 100px;
    margin: 5px 0;
    display: inline-block;
    vertical-align: top;
  }
.contact-form input, .contact-form textarea, .contact-form .recaptcha, .contact-form button {
    margin: 5px 0;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #bbb;

}
.contact-form input.field, .contact-form textarea {
    min-width: 330px;
  }
.contact-form input[name=subject], .contact-form textarea {
    width: 73%;
  }
.contact-form textarea {
    height: 150px;
  }
.contact-form button {
    border: 0;
    padding: 8px 20px;
    color: #fff;
    margin-top: 20px;
  }
.contact-form .notice {
    display: none;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 15px;
    color: #a94442;
    margin-top: 15px;
  }
.contact-form .recaptcha {
    padding: 0;
    display: inline-block;
}
.contact-form .recaptcha div.image {
      -webkit-border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;
      padding: 10px;
      background-color: #fff;
      width: 320px;
}
.contact-form .recaptcha div.image br {
        display: none;
      }
.contact-form .recaptcha div.image embed, span {
        float: left;
        clear: both;
}

.contact-form .recaptcha div.image embed a, span a {
          cursor: pointer;
          font-size: 0.9em;
        }

.contact-form .recaptcha div.headline {
      padding: 5px 5px 0 10px;
    }

.contact-form .recaptcha input[type=text] {
      margin: 10px;
    }
