#header {
    background-color: white;
}

.logo {
    width: 2em;
    height: auto;
    float: left;
}

.brand {
    line-height: 2em;
}

.current {
    font-weight: bold;
}

.blog-content h2 {
  clear: both;
}

figure {
    box-sizing: border-box;
}

figcaption {
    font-size: .75em;
    text-indent: 1em;
}

figcation < figure::hover {
    display: none;
}

@media screen and (max-width: 40.063em) {
    .blog-content p {
        float: none;
        clear: both;
    }
    .blog-content figure {
        text-align: center;
    }    
    .blog-content figure figcaption {
        text-align: center;
        text-indent: 0;
    }
    .blog-content .left,
    .blog-content .right {
        float: none !important;
    }
    
}

/* Contact form */

#alert .alert-box {
    display: none;   
}

#alert .alert-box span {
    display: block;
    color: white;
    font-size: 2em;
    font-weight: bold;
}

[data-abide] input[disabled],
[data-abide] textarea[disabled],
[data-abide] select[disabled]{
    background-color: transparent;
    border: none;
}
[data-abide] input[type="submit"][disabled]{
    background-color: #8bad93;
}

[data-abide] .error label {
    color: indianred;
    font-weight: normal;
}

[data-abide] .error input,
[data-abide] .error textarea,
[data-abide] .error select
{
    font-weight: normal;
    border: 1px solid indianred;
}

[data-abide] .error small.error {
    background-color: indianred;
    font-style: normal;
}

.site-footer * {
    font-size: .75rem;
}
