/*------- GLOBAL -------*/

#header div section.right ul {
  font-size: 80%;
}

.logo {
    width: 2em;
    height: auto;
    float: left;
}

.brand {
    
}

.brand hr {
  border-width: 5px;
  border-color: #EE8039;
}

.current {
    font-weight: bold;
}

.blog-content h2 {
  clear: both;
}

/*-------- IMAGES -------*/

.cover-thumb {
    display: block;
    padding: 3%;
    border: 1px solid #ddd;
    background-color: floralwhite;
    margin: 1% auto;
}

.cover {
    display: block;
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
}

.cover-wrap {
    margin-left: 0;
    margin-right: 0;
}

figure {
    box-sizing: border-box;
    margin-top: 0;
}
p + figure {
    display: block;
}

figure.right,
figure.left {
    text-align: left;
}

figure figcaption {
    font-size: .75em;
    text-indent: 0;
}

.left figcaption
.right figcaption {
    text-indent: 1em;
}

figure + p:after,
figure + figure + p:before {
    content: '';
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

figure + figure,
figure ~ figure {
    display: inline-block;
    max-width: 40%;
}

@media screen and (max-width: 40.063em) {
    .blog-content p {
        float: none;
        clear: both;
    }
    .blog-content figure {
        display: block;
        text-align: center;
        max-width: none;
    }    
    .blog-content figure figcaption {
        text-align: center;
        text-indent: 0;
    }
    .blog-content .left,
    .blog-content .right {
        float: none !important;
    }
}

/*------- LISTS ---------*/

.blog-content ul,
.blog-content ol {
  list-style-type: none;
  margin: 0;
  margin-left: 3em;
  margin-bottom: 20px;
  padding: 0;
  font-size: 85%;
}

.blog-content ol {
  counter-reset: li-counter;
}

.blog-content ul > li,
.blog-content ol > li {
  position: relative;
  padding-left: 0.5em;
  min-height: 1.5em;
  /* text-indent: -0.4em; */
}

.blog-content ul > li:before {    
  font-family: "FontAwesome";
  content: "\f198";
}

.blog-content ol > li:before {    
  font-family: inherit;
  content: counter(li-counter);
  counter-increment: li-counter;
  font-weight: bold;
}

.blog-content ul > li:before,
.blog-content ol > li:before {
  position: absolute;
  top: 0.25em;
  left: -0.75em;
  /* width: 0.8em; */
  /* font-size: 1em; */
  line-height: 1;
  text-align: right;
  vertical-align: middle;
}

.blog-content ul > li > p,
.blog-content ol > li > p {
  margin-bottom: 0.75em;
  margin-right: 1em;
}

.unstyled-list li {
  margin: 0;
  list-style-type: none;
}

/*------- CONTACT FORM -------*/

#alert .alert-box {
    display: none;   
}

#alert .alert-box span {
    display: block;
    color: white;
    font-size: 2em;
    font-weight: bold;
}

[data-abide] input[disabled],
[data-abide] textarea[disabled],
[data-abide] select[disabled]{
    background-color: transparent;
    border: none;
}
[data-abide] input[type="submit"][disabled]{
    background-color: #8bad93;
}

[data-abide] .error label {
    color: indianred;
    font-weight: normal;
}

[data-abide] .error input,
[data-abide] .error textarea,
[data-abide] .error select
{
    font-weight: normal;
    border: 1px solid indianred;
}

[data-abide] .error small.error {
    background-color: indianred;
    font-style: normal;
}

.site-footer * {
    font-size: .75rem;
}

/*------- SOCIAL ICONS -------*/

.social {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    position: fixed;
    bottom: 10%;
    left: 0;
}

.social.inline-list {
    position: static;
}

.s-s:hover {
    opacity: 0.75;
}

.s-s #ss_label i {
    width: 32px;
    height: 32px;
}