---
layout: default
title: Actualités
section: Actualités
index: 4
---

{% if paginator.total_pages > 1 %}
<div class="pagination-centered">
    <ul class="pagination">
        {% if paginator.previous_page %}
        <li class="arrow">
            <a href="{{ paginator.previous_page_path | replace: 'index.html', '/' | prepend: site.baseurl | replace: '//', '/' }}">
                &laquo;
            </a>
        </li>
        {% else %}
        <li class="arrow unavailable">
            <a href="">&laquo;</a>
        </li>
        {% endif %}
        
        {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
        <li class="current">
            <a href="">
                {{ page }}
            </a>
        </li>
        {% elsif page == 1 %}
        <li>
            <a href="{{ paginator.previous_page_path | replace: 'index.html', '/' | prepend: site.baseurl | replace: '//', '/' }}">
                {{ page }}
            </a>
        </li>
        {% else %}
        <li>
            <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">
                {{ page }}
            </a>
        </li>
        {% endif %}
        {% endfor %}
        
        {% if paginator.next_page %}
        <li class="arrow">
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a>
        </li>
        {% else %}
        <li class="arrow unavailable">
            <a href="">&raquo;</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endif %}

<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">  
    {% for post in paginator.posts %}
    <li>
        <a href="{{ post.url }}">
            <h3>
                {{ post.title }} 
                <small>
                    <br />
                    <i class="fa fa-calendar"></i>
                    {{ post.date | date: "%m/%Y" }}
                </small>
            </h3>
        </a>
        <p>
        {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
        <br />
        <a href="{{ post.url }}">
            Lire la suite...
        </a>
        </p>
    </li>
    {% endfor %}
</ul>