{% assign m = page.date | date: "%m" %}
{% if page.lang == 'fr' %}
{% case m %}
  {% when '01' %}janvier
  {% when '02' %}février
  {% when '03' %}mars
  {% when '04' %}avril
  {% when '05' %}mai
  {% when '06' %}juin
  {% when '07' %}juillet
  {% when '08' %}août
  {% when '09' %}septembre
  {% when '10' %}octobre
  {% when '11' %}novembre
  {% when '12' %}décembre
{% endcase %}
{% elsif page.lang == 'es' %}
{% case m %}
    {% when '01' %}enero
    {% when '02' %}febrero
    {% when '03' %}marzo
    {% when '04' %}abril
    {% when '05' %}mayo
    {% when '06' %}junio
    {% when '07' %}julio
    {% when '08' %}agosto
    {% when '09' %}septiembre
    {% when '10' %}octubre
    {% when '11' %}noviembre
    {% when '12' %}diciembre
{% endcase %}
{% endif %}
{{ page.date | date: "%Y"}}