<header id="header" class="row">
    <div class="small-12 columns">
        <section class="right show-for-medium-up mam">
            <ul class="inline-list">
                {% include nav.html %}
            </ul>
        </section>
        <section class="right show-for-small">
            <ul class="inline-list mam">
                <li>
                    <a class="right-off-canvas-toggle" href="#"><i class="fa fa-bars fa-lg">
                    </i></a>
                </li>
            </ul>
        </section>
        <h1>
            <a href="{{ site.base_url }}">
                <img class="logo" alt="Logo de Nicarali" src="/img/logo-tr.png" width="64" height="64" />
            </a>
            <span class="brand hide-for-medium-up">&nbsp;{{ page.section }}</span>
        </h1>
    </div>
</header>

<!-- Off Canvas Menu -->
<aside class="right-off-canvas-menu">
    <!-- navigation list goes here -->
    <ul class="off-canvas-list">
        <li><label>Bienvenue sur Nicarali.com</label></li>
       {% include nav.html %}
    </ul>
</aside>