<header id="header" class="row">
    <div class="small-12 columns">
        <section class="right show-for-medium-up mam">
            <ul class="inline-list">
                {% include nav.html %}
            </ul>
        </section>
        <section class="right show-for-small">
            <ul class="inline-list mam">
                <li>
                    <a class="right-off-canvas-toggle" href="#"><i class="fa fa-bars fa-lg">
                    </i></a>
                </li>
            </ul>
        </section>
        <h1>
            <a href="{{ site.url }}">
                <img class="logo" alt="Logo de Nicarali" src="/img/logo-tr.png" width="64" height="64" />
            </a>
            <span class="brand hide-for-medium-up">&nbsp;{{ page.section }}</span>
        </h1>
    </div>
</header>
{% if page.title == "Accueil" %}
<div class="alert mbm text-right" style="background-color:#78715F;">
  <img src="http://nicarali.files.wordpress.com/2015/06/header-nica-modific3a9-21.jpg" alt="Nicarali banner" longdesc="Lire au Nicaragua. Pour que les enfants aient accès à la lecture. Pour que tous puissent s'instruire et se former. L'association Nicarali soutient le développement d'un réseau de bibliothèques publiques au Nicaragua." />
</div>
{% endif %}

<!-- Off Canvas Menu -->
<aside class="right-off-canvas-menu">
    <!-- navigation list goes here -->
    <ul class="off-canvas-list">
        {% include nav.html %}
    </ul>
</aside>