{% assign posts=site.posts | where: "lang", page.lang %}
<div>
  {% for post in posts | limit: 10  %}
  <div itemscope itemtype="http://schema.org/Article" class="panel row mam">    
    {% if post.cover_url %}  
    <div class="small-4 columns">
      <img itemprop="image" class="cover-thumb radius" src="{{ post.cover_url }}" title="{{ post.cover_title }}" />
    </div>
    <div class="small-8 columns expand">
    {% else %}
    <div class="small-12 columns">
    {% endif %}
      <a href="{{ post.url }}">
        <h3 itemprop="name">
          {{ post.title }} 
          <small class="secondary">
            <br />
            <i class="fa fa-calendar"></i>
            <meta itemprop="datePublished" content="{{ post.date }}">
            {{ post.date | date: "%m/%Y" }}
          </small>
        </h3>
        <p itemprop="headline">
          {{ post.excerpt | remove: '<p>' | remove: '</p>' | truncatewords: 50 }}
        </p>
      </a>
      <p class="text-right pan man">
        <a itemprop="url" class="button secondary tiny round" href="{{ post.url }}">
          {% if page.lang == 'es' %}
          Leer más
          {% else %}
          Lire la suite
          {% endif %}
        </a>
      </p>
    </div>
  </div>
  {% endfor %}  
  <a href="/archive" class="button radius secondary expand">
    {% if page.lang == 'es' %}
    Ver todos los artículos
    {% else %}
    Voir tous les articles
    {% endif %}
  </a  
</div>