<li><div class="s-s"
     data-type="facebook"
     data-template='<a id="ss_label"><i class="fa fa-facebook"></i></a>'
     data-link="{{ site.url }}{{ page.url }}">
</div></li>
<li><div class="s-s"
     data-type="twitter"
     data-template='<a id="ss_label"><i class="fa fa-twitter"></i></a>'
     data-link="{{ site.url }}{{ page.url }}">
</div></li>
<li>
    <div class="s-s">
        <a id="ss_label" style="background: crimson;" href="https://plus.google.com/share?url={{site.url}}{{page.url}}" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-google-plus"></i></a>
    </div>
</li>