---
layout: default
section: Actualités
permalink: /news/:year/:month/:title
---

<div>
    <h1>{{ page.title }}
        <small>
            {% include date.html %}
        </small>
    </h1>
    <div class="blog-content">
    {% if page.cover_url %}
        <figure class="cover-wrap">
        <img class="cover" src="{{ page.cover_url }}" alt="{{ page.cover_title }}" />
        <figcaption class="show-for-large-up">{{ page.cover_title }}</figcaption>
        </figure>
    {% endif %}
    {{ content }}
    </div>
</div>
<div class="row">
    <!-- Social buttons -->
    <div class="hide-for-medium-down">
    <ul class="social side-nav">
        {% include social.html %}
    </ul>
    </div>
    <div class="show-for-medium-down small-10 small-centered columns">
        <hr />
    <ul class="social inline-list">
        <h4>Partagez ce post :</h4>
        {% include social.html %}
    </ul>
    </div>
</div>