---
layout: default
section: Actualités
---

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage":{
    "@type":"WebPage",
    "@id":"{{site.url}}/{{page.url}}"
  },
  "headline": "{{page.title}}",
  "image": {
    "@type": "ImageObject",
    "url": "{% if page.cover_url %}{{page.cover_url}}{% else %}{{site.url}}/{{site.cover}}{% endif %}",
    "height": 200,
    "width": 1250
  },
  "datePublished": "{{page.date}}",
  "dateModified": "{{page.date}}",
  "author": {
    "@type": "Organization",
    "name": "Nicarali"
  },
   "publisher": {
    "@type": "Organization",
    "name": "Nicarali",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url }}/img/logo-94-60.png",
      "width": 94,
      "height": 60
    }
  },
  "description": "{{ post.excerpt | remove: '<p>' | remove: '</p>' | strip_html | strip |  truncatewords: 50 }}"
}
</script>

<div>
    <h1>
      <span>
      {{ page.title }}
      </span>
        <small>
          {{ page.id | slice: 9, 10 | replace: "-", "/" }}
        </small>
    </h1>
    <div class="blog-content">
    {% if page.cover_url %}
        <figure class="cover-wrap">
        <img class="cover" src="{{ page.cover_url }}" alt="{{ page.cover_title }}" />
        <figcaption class="show-for-large-up">{{ page.cover_title }}</figcaption>
        </figure>
    {% endif %}

    {{ content }}
    </div>
</div>
<div class="row">
    <!-- Social buttons -->
    <div class="hide-for-medium-down">
        <!-- Side buttons -->
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-563709ce45abeda0" async="async"></script>
    </div>
    <div class="show-for-medium-down small-10 small-centered columns">
        <hr />
        <h4>Partagez cet article :</h4>
        <!-- Bottom buttons -->
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-563709ce45abeda0" async="async"></script>
        <div class="addthis_sharing_toolbox"></div>
    </div>
</div>
